[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ananthapadmanaban
[access "refs/for/refs/*"]
	read = group user/Ananthapadmanaban
	push = group user/Ananthapadmanaban
	label-Code-Review = -2..+2 group user/Ananthapadmanaban
	label-Verified = -1..+1 group user/Ananthapadmanaban
	rebase = group user/Ananthapadmanaban
	removeReviewer = group user/Ananthapadmanaban
	submit = group user/Ananthapadmanaban
[access "refs/heads/*"]
	read = group user/Ananthapadmanaban
	create = group user/Ananthapadmanaban
	push = +force group user/Ananthapadmanaban
	pushMerge = group user/Ananthapadmanaban
[access "refs/tags/*"]
	push = group user/Ananthapadmanaban
	push = +force group user/Ananthapadmanaban
